body {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(47, 111, 151);
}
.split {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #282c34;
}

.right {
  right: 430;
  background-color: #31353f;
}

.centered {
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
}

p {
  font-size: 120%;
  color: rgb(138, 137, 137);
}


